@import './base.css';
@import './customized/easy-data-table.css';
@import './customized/date_picker.css';
@import './customized/v-select.css';



[data-bs-theme="dark"] {
  --dynamic-bg: var(--dark-mode-bg);
  --dynamic-bg-component: var(--dark-mode-component);
  --dynamic-color: var(--vt-c-white);
  --navbar-bg:  var(--dark-mode-bg-lighter);
  --sidebar-bg:  var(--dark-mode-bg);
}

[data-bs-theme="light"] {
  --dynamic-bg: var(--vt-c-white-soft);
  --dynamic-bg-component: var(--vt-c-white);
  --dynamic-color: var(--vt-c-black-soft);
  --navbar-bg: var(--vt-c-white);
  --sidebar-bg: var(--vt-c-white);
}


::-webkit-scrollbar {
  width: 10px;
  height: 8px !important;
  background-color: var( --vt-c-white-mute) ;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0 ;
  border-radius: 5px ;
}


::-webkit-scrollbar-thumb {
  background-color: var(--button-color) ;
  border-radius: 5px;
  border: 2px solid var( --vt-c-white-mute) ;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color) !important;
}

.auth-image {
  background: url('/images/design.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}



input,select,textarea{
    background-color: transparent !important;
}


input:focus,
select:focus,
textarea:focus,
button:focus,
.vue-tel-input,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #dee2e6 !important;
 
}

.cursor-pointer{
    cursor: pointer;
}

body{
  background-color: var( --dynamic-bg);
}

.offcanvas,
.dropdown-menu,
.card, .table>:not(caption)>*>* {
  background-color: var( --dynamic-bg-component);
}

.min-vh-50{
  min-height: 50vh;
}


.text-dynamic{
  color: var(--dynamic-color) !important;
}

.theme-color{
  color: var(--theme-color);
}

.theme-bg{
  background-color: var(--theme-color);
}


.btn-custom {
  background-color: var( --button-color);
  color: var(--vt-c-white) !important;
  border: none !important;
}

.btn-custom:hover {
  background-color: var(--theme-color);
}

.hover-tiltX {
  transition: all ease-in-out 0.4s;
}


.hover-tiltX:hover {
  transform: translateX(5px);
}

.hover-tiltY {
  transition: all ease-in-out 0.4s;
}


.hover-tiltY:hover {
  transform: translateY(-5px);
}



